@page
@model microauthd.Pages.Admin.Roles.CreateModel
@{
    ViewData["Title"] = "Create Role";
    Layout = "_Layout";
}

<h2>Create Role</h2>

<form method="post">
    @Html.AntiForgeryToken()
    <div class="mb-3">
        <label asp-for="RoleForm.Name" class="form-label"></label>
        <input asp-for="RoleForm.Name" class="form-control w-50" />
        <span asp-validation-for="RoleForm.Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="RoleForm.Description" class="form-label"></label>
        <textarea asp-for="RoleForm.Description" class="form-control w-50"></textarea>
        <span asp-validation-for="RoleForm.Description" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-page="/Admin/Roles/Index" class="btn btn-secondary ms-2">Cancel</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
